.player-buttons {
    width: 100%;
    height: 7rem;
    background-color: $player-button-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;

    button {
        height: 4rem;
        width: 4rem;
        color: $player-button-color;
        border-radius: 50%;
        &:focus {
            color: $player-button-color-action;
            background-color: $player-button-bg-action;
        }
    }
}